
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}


h1 {
    color: red;
    text-align: center;
    text-transform: uppercase;
}


p {
    font-size: 18px;
    color: #333;
}



.verde {
    color: green;
    font-weight: bold;
}
