body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.bloco {
  border-radius: 10px;
  padding: 15px;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.bloco1 {
  background-color: #fdf4ad; 
  color: #000000;               
  border: 2px solid #000000;
}

.bloco2 {
  background-color: #6978ff; 
  color: #ffffff;               
  border: 2px solid #ffe058;
}

.bloco3 {
  background-color: #a1aaff; 
  color: #6a00ff;               
  border: 2px solid #6a00ff;
}

.bloco4 {
  background-color: #c7ddfd; 
  color: #000000;               
  border: 2px solid #000000;
}